


{% extends "victory/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h1>Completed Victories</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div class="list-group">
                {% for victory in victories %}
                    <a href="{% url 'viewvictory' victory.id %}" class="list-group-item list-group-item-action{% if victory.important %} list-group-item-danger{% endif %}"><b>{{ victory.title }}</b> - Completed {{ victory.datecompleted|date:'M j Y H:i' }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
