

{% extends "victory/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if victories %}
                 <h1>{{ victories.count }} Current Victory{{ victories.count|pluralize }}</h1>
            {% else %}
                           <h1>Current Victories</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        {% if victories %}
            <div class="list-group">
                {% for victory in victories %}
                    <a href="{% url 'viewvictory' victory.id %}" class="list-group-item list-group-item-action{% if victory.important %} list-group-item-danger{% endif %}"><b>{{ victory.title }}</b>{% if victory.memo %} - {{ victory.memo|truncatechars:30 }}{% endif %}</a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h2>Looks like you don't have any victories! Keep running your race!</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'createvictories' %}">New Victory</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}